main{
    width: 70%;
    margin: 0 auto;
    padding: 50px;
}

.color{
    background-color: #353E80 !important;
}
.text-color{
    color: white;
    text-decoration: none;
}
.text-color:hover{
    color: #dadada;
    text-decoration: none;
}
.text-decoration:visited{
    text-decoration: none;
}